<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="dsn" connectionString="Server=(local);Database=go-go;uid=sa;pwd=sadega;" providerName="System.Data.SqlClient" />
    <add name="dsnA" connectionString="EAAAALDtB6imc0e9/v8aSQDivdjw0Pprpi1NTd4BPmXVRgKh47osG8hfPjusEuX+W+7mJXfYkWjJ69ngkmPdaRSKDHYYxHl2AXG0CgKG01yPEZXy" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>